# Пример файла для переопределения настроек docker-compose.yml
# Скопируйте этот файл в docker-compose.override.yml и настройте под ваши нужды
# Файл docker-compose.override.yml автоматически игнорируется git

version: "3.9"

services:
  app:
    environment:
      # Включить LDAP
      LDAP_ENABLED: "true"
      LDAP_URL: "ldaps://ldap.bsuir.by"
      LDAP_BASE_DN: "dc=bsuir,dc=by"
      LDAP_BIND_DN: "uid=smdoadmin,ou=staff,dc=bsuir,dc=by"
      LDAP_BIND_PASSWORD: "your_password_here"
      LDAP_USER_SEARCH_BASES: "ou=staff,dc=bsuir,dc=by,ou=stud,dc=bsuir,dc=by"
      LDAP_USER_SEARCH_FILTER: "(uid={username})"
      LDAP_USERNAME_ATTRIBUTE: "uid"
      LDAP_EMAIL_ATTRIBUTE: "mail"
      LDAP_FIRSTNAME_ATTRIBUTE: "givenName"
      LDAP_LASTNAME_ATTRIBUTE: "sn"
      LDAP_TIMEOUT: "10000"
